<div id="<%= dom_id howart %>">
    <tr>
      <td><%= howart.id %></td>
      <td><%= howart.name %></td>
      <td><%= howart.location %></td>
      <td><%= howart.house %></td>
      <td><%= link_to "Mostrar esta Casa Howart", howart %></td>
    </tr>
</div>
