<p style="color: green"><%= notice %></p>

<%= render @howart %>

<div>
  <%= link_to "Editar esta House Howart", edit_howart_path(@howart) %> |
  <%= link_to "Regresar a House Howarts", howarts_path %>

  <%= button_to "¡¡¡Eliminar!!! esta House Howart", @howart, method: :delete %>
</div>
